h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

body {
  font-family: "Montserrat";
  text-align: center;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.feature-box {
  padding: 1rem;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
  color: black;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.iphone-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%
}

.title-image {
  position: relative;
}

/* Features Section */
#features {
  position: relative;
}
.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  .title-image {
    width: 100% position: static;
  }

  .iphone-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
